:root {
  --col-0: #00000000;
  --col-1: #e4131e;
  --col-2: #eb7b0e;
  --col-3: #dcc710;
  --col-4: #40ca00;
  --col-5: #2fbed9;
  --col-6: #3f1db6;
  --col-6-spot: #637cfc;
  --col-7: #8951d7;
  --col-8: #dd2bb2;
  --col-9-top: #7b889d;
  --col-9: #97a7c0;
  --col-9-btm: #b6c8e3;
  --col-10: #cfe1fa;
  --col-10-bdr: #d4363d;

  --col-x: #bbbbaa;
  --col-x-bdr: #333333bb;
}

body {
  font-size: 8em;
}

div {
  display: inline-block;
}

div.num-col {
  width: 20%;
}

div.op-col  {
  width: 10%;
}

div.block-container {
  display: block;
  float: left;
  aspect-ratio: 3/5;
}

div.block, div.block-x,
div.block-0, div.block-1, div.block-2, div.block-3, div.block-4,
div.block-5, div.block-6, div.block-7, div.block-8, div.block-9, div.block-10 {
  box-sizing: border-box;
  aspect-ratio: 1;
  display: block;
  float: left;
  outline: 2px solid;
  outline-offset: -2px;
  background-image: linear-gradient(
    210deg,
    rgba(187, 187, 187, 0.6),
    rgba(187, 187, 187, 0.25));
}

div.block-x {
  outline-color: var(--col-x-bdr);
  background-color: transparent;
  outline-style: dashed;
}
div.block-0 {outline-color: var(--col-0); background-color: var(--col-0); color: var(--col-0);}
div.block-1 {outline-color: var(--col-1); background-color: var(--col-1); color: var(--col-1);}
div.block-2 {outline-color: var(--col-2); background-color: var(--col-2); color: var(--col-2);}
div.block-3 {outline-color: var(--col-3); background-color: var(--col-3); color: var(--col-3);}
div.block-4 {outline-color: var(--col-4); background-color: var(--col-4); color: var(--col-4);}
div.block-5 {outline-color: var(--col-5); background-color: var(--col-5); color: var(--col-5);}
div.block-6 {outline-color: var(--col-6); background-color: var(--col-6); color: var(--col-6-spot);}
div.block-7 {outline-color: var(--col-7); background-color: var(--col-7); color: var(--col-7);}
div.block-8 {outline-color: var(--col-8); background-color: var(--col-8); color: var(--col-8);}
div.block-9 {outline-color: var(--col-9); background-color: var(--col-9); color: var(--col-9);}
div.block-10 {outline-color: var(--col-10-bdr); background-color: var(--col-10); color: var(--col-10)}
