#image {
  margin: -0.4em;
}

.letter {
  color: #fff0;
}

.letter-gone {
  color: #fff0;
}

@keyframes red-flash {
  from{color: darkred;}
  to{color: #fff0;}
}

.green {
  color: darkgreen;
}

.red {
  animation-duration: 1s;
  animation-name: red-flash;
}
