@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

body {
  padding-top: 10%;
  font-size: 20em;
  font-family: "Patrick hand", cursive, Arial, sans-serif;
  text-align: center;
  font-weight: bold;
  color: #333333;
  background-color: #bbbbbb;
}

body.correct {
  background-color: #55de45;
  color: darkgreen;
}

body.incorrect {
  background-color: #882222;
  color: red;
}
