@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700;900&display=swap');

body {
  padding-top: 10%;
  font-size: 20em;
  font-family: "Source Sans Pro", cursive, Arial, sans-serif;
  text-align: center;
  font-weight: bold;
  color: #333333;
  background-color: #bbbbbb;
}

body.correct {
  background-color: #55de45;
  color: darkgreen;
}

body.incorrect {
  background-color: #882222;
  color: red;
}

.pressed {
  font-family: "Courier New", monospace;
  font-size: 15em;
}
